@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
body{
    overflow-x: hidden;
    font-family: 'Jura', sans-serif;
    background-color: #1b1b1b;
    background: url(./images/bckg-clear.jpg);
    background-repeat: repeat;
}
.container-css{
    min-height: 100vh;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
}
.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.navbar a:hover{
    color:#ffbb00;
}
.main-container{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.particles-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    transform: ease 1s;
    z-index: 10;
}
.particle{
    position: absolute;
    background-color: gray;
    border-radius: 50%;
}

.about-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bckg{
    position: absolute;
    min-width: 100vw;
    height: 100vh;
    z-index: 1;
}
.about-box{
    width: 60%;
    line-height: 30px;
    padding: 30px 20px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    z-index: 20;
}

.about-link{
    transition: ease .3s;
    font-size:25px;
    border: 1px solid #3f3f3f;
    padding: 5px 20px;
    color: #ffbb00;
    border-radius: 5px;
    cursor: pointer;
}
.about-link:hover{
    color: #DD2A7B;
    background-color: #3f3f3f;
}
.about-box p{
    color: white;
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 20px;
}
.about-box h2{
    margin: 20px 0 5px 0;
    color: white;
    background-color: black;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    padding: 8px 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: ease .2s;
}
.about-box h2:hover{
    background-color: #1f1f1f;
}

.scroll-down-btn{
    position: absolute;
    top: 85%;
    z-index: 1000;
    text-align: center;
}
.scroll-down-btn p{
    color: white;
    font-size: 20px;
}
.scroll-down-btn i {
    margin-top: 15px;
    color: white;
    font-size: 30px;
    animation-name: scroll-btn;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
@keyframes scroll-btn {
    0% {margin-top: 15px;}
    50% {margin-top: 30px;}
    100% {margin-top: 15px;}
}

.projects-container{
    width: 100%;
    height: fit-content;
    padding: 10px;
    padding-left: 10px;
    z-index: 20;
}
.section-title{
    padding: 10px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 35px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index: 1000;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
    z-index: 100;
}
.projects-right,.projects-center-right,.projects-center-left, .projects-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-box{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    height: fit-content;
    border-radius: 5px;
    opacity: 0.8;
}
.project-box:hover{
    opacity: 1;
}
.proj-title{
    padding: 10px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, rgb(19, 126, 94),rgb(77, 228, 160));
}
.proj-img{
    width: 100%;
}
.proj-img img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
}
.proj-tags{
    width: 100%;
    display: inline-flex;
    height: fit-content;
    flex-flow: wrap;
    gap: 5px;
    margin-top: 10px;
}
.proj-tags p{
    padding: 5px 10px;
    background-color: rgb(19, 127, 98);
    border-radius: 5px;
    font-size: 16px;
    color: white;
}
.proj-text{
    width: 100%;
    padding: 10px 5px;
    line-height: 30px;
}
.proj-text p{
    font-size: 18px;
    color: white;
}
.proj-links{
    width: 100%;
    text-align: end;
    padding: 5px;
    margin-top: 15px;
}
.proj-links i{
    font-size: 35px;
    color: #6a6a6a;
    margin: 0 5px;
}
.proj-links i:hover{
    color: white;
}
.fa-download{
    font-size: 26px !important;
}


.skills-container{
    width: 100%;
    z-index: 20;
    margin-top: 30px;
    padding: 10px;
}
.skills-box{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-flow: wrap;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 60px;
}
.skills-box span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    width: fit-content;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    padding: 20px;
    border-top: 2px solid #c73636;
}
.skills-box span img{
    max-width: 100%;
    max-height: 100%;
}
.skills-box span p{
    margin: 0;
    font-size: 22px;
}
.contact-container{
    margin-top: 50px;
}
.contact-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 50px;
    gap: 10px;
    flex-flow: wrap;
    z-index: 20;

}
.contact-btns{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 2px 5px #3f3f3f;
    transition: ease 0.2s;
    cursor: pointer;
    opacity: 0.8;
    z-index: 20;
}
.contact-btns:hover{
    opacity: 1;
}
.contact-btns i{
    font-size: 25px;
    color: white;
}
.contact-btns h6{
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0;
    margin-left: 7px;
}
.contact-btns:hover{
    width: 190px;
    height: 50px;
    box-shadow: 0 2px #3f3f3f;
    margin-top: 2px;
}
.insta-btn{
    background: linear-gradient(to bottom left,#515BD4,#8134AF,#DD2A7B,#FEDA77) ;
}
.fb-btn{
    background-color: #395ca0;
}
.lI-btn{
    background-color: #0077b5;
}
.git-btn{
    background-color: #2f2f2f;
}
.contact-email{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 30px;
    z-index: 2000;
}
@media screen and (max-width:1300px){
    .projects-container{
        padding-left: 10px;
    }
    .about-box{
        width: 80%;
    }
}
@media screen and (max-width:1024px){
    .project-box{
        opacity: 1;
    }
}

@media screen and (max-width:991px){
    .projects{
        grid-template-columns: 1fr 1fr;
    }
    .about-box{
        width: 80%;
        padding: 0;
    }
    .about-box p{
        font-size: 22px;
    }
}
@media screen and (max-width:600px){
    .projects{
        grid-template-columns: 1fr;
    }
    .about-box{
        width: 100%;
    }
    .contact-box{
        flex-direction: column;
        gap: 20px;

    }
    .contact-btns{
        width: 60%;
    }
    .skills-box span {
        width: 45%;
    }
    .about-link{
        font-size: 18px;
    }
}
@media screen and (max-width:447px){
    .skills-box span {
        width: 100%;
        height: 200px;
        padding: 30px;
    }
    .contact-btns{
        width: 100%;
    }
    .contact-email{
        font-size: 18px;
    }
    .about-container{
        padding: 20px;
    }
    .about-box p{
        font-size: 16px;
        line-height: 40px;
        text-align: justify;
    }
    .navbar{
        gap: 40px;
    }
    .navbar a{
        font-size: 18px;
    }
}
@media screen and (max-width:350px){
    .contact-btns{
        width: 100%;
    }
    .navbar{
        gap: 30px;
    }
    .navbar a{
        font-size: 16px;
    }
}

.about-box h1 {
    font-size: 70px;
    color: white;
}

.about-box h3 {
    font-size: 30px;
    color: white;
    margin-top: 40px;
    font-weight: 100;
}

.btns {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}